.boton {
  background-color: grey;
  width: 25px;
  border-radius: 3px;
  margin: 5px;
  align-self: flex-end;
  color: white;
}

.boton:hover {
  background-color: red;
}

.info {
  display: flex;
  flex-direction: row;
}

.contenedor-card{
  display: flex;
  flex-direction: column;
  width: 200px;
  align-content: center;
  border: 2px solid black;
  border-radius: 5px;;
}

